* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

html, body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5e5373;
  z-index: 2; }

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px; }

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3; }

.header__logo img {
  display: block;
  background-color: #fff;
  max-width: 100%; }

.header__burger {
  display: none; }

.header__list {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__list li {
  list-style: none;
  margin-left: 20px; }

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none; }

@media (max-width: 767px) {
  body.lock {
    overflow: hidden; }
  .header__body {
    height: 50px; }
  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px; }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3; }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before {
    top: 0; }
  .header__burger:after {
    bottom: 0; }
  .header__burger.active:before {
    top: 9px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .header__burger.active:after {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #18b4b4;
    padding: 70px 0 20px 10px;
    overflow: auto; }
  .header__menu.active {
    top: 0; }
  .header__list {
    display: block; }
  .header__list li {
    margin: 0 0 20px 0; } }

.about {
  margin-top: 115px; }

.about__header {
  margin-bottom: 65px; }

.about__title {
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 9px; }

.about__text {
  max-width: 688px;
  text-align: center;
  color: #868585;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  line-height: 25.89px;
  margin: 0 auto; }

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0 15px; }

.about__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%; }

.about__container {
  max-width: 823px;
  margin: 0 auto; }

.title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #000; }

.item-about__icon {
  margin: 0 atuo;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px; }
  .item-about__icon img {
    height: 90px;
    width: 90px; }

.item-about__title {
  text-align: center;
  font-size: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 35px; }

.item-about__text {
  text-align: center;
  color: #868585;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  line-height: 26px; }
