<!DOCTYPE html>

<html lang="ru">

	<head>
		<title>Adaptive burger</title>

		<link rel="stylesheet" href="css/style.css">

		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width">

	</head>

	<body>

		<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__body">
					<a href="" class="header__logo">
						<img src="img/img.png" alt="">
					</a>
					<div class="header__burger">
						<span></span>
					</div>
					<nav class="header__menu">
						<ul class="header__list">
							<li><a href="" class="header__link">Главная</a></li>
							<li><a href="" class="header__link">Новости</a></li>
							<li><a href="" class="header__link">Сообщения</a></li>
							<li><a href="" class="header__link">Музыка</a></li>
							<li><a href="" class="header__link">Группы</a></li>
							<li><a href="" class="header__link">Универсал</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="container">
				<div class="content__title">
					<h1 class="title__text">
						галлерея
					</h1>
				</div>
				<div class="content__body">
					<div class="gallery">
						<div class="gallery__row">
							<div class="gallery__item"><img src="img/rofl1.jpg" alt=""></div>
							<div class="gallery__item"><img src="img/rofl2.jpg" alt=""></div>
							<div class="gallery__item"><img src="img/rofl3.jpg" alt=""></div>
							<div class="gallery__item"><img src="img/rofl4.jpg" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script src="js/script.js"></script>

	</body>

</html>